{% extends 'master/master.html' %}
{% load static %}
{% block content %}
<section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Teacher Dashboard</h3>
      <!-- BASIC FORM ELELEMNTS -->
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <h3>Welcome, {{request.session.teacher}}</h3>
          </div>
        </div>
        <!-- col-lg-12-->
      </div>
      <!-- /row -->
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Subjects you teach:</h4>
              <br><br>
                <ol>
                  {% for subject in all_subjects %}

                  <li>{{subject.sub_name}} ( {{subject.level}} )  <a href="" data-toggle="modal" data-target="#modalUnitForm">Add Units to this Subject</a></li><br>
                  <ol>
                    {% for unit in units %}
                    <li>Unit {{ unit.unit_number }} : {{ unit.unit_title }}</li>
                    {% empty %}
                    <b>No units yet added for this subject </b>
                    {% endfor %}

                  </ol>
                 
                  {% empty %}
                    <center><b>No Subjects found</b></center> <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Add Subjects!</a>
                  {% endfor %}
                </ol>
                <br><br><br><br>
                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Add another Subject !</a>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/teacher/savesubject" method="POST">
        {% csrf_token %}
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Subjects</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">       
        <div class="form-group">
          <input type="text" name="sub_name" class="form-control" placeholder="Enter Subject Name">
        </div>

        <div class="form-group">
          <input type="number" name="units" class="form-control" placeholder="How many units for this subject?">
        </div>
        <div class="form-group">           
          <select name="level" class="form-control">
            <option value=''>Select Level</option>
              {% for level in levels %}
              <option value='{{level.id}}'>{{level.levelName}}</option>
              {% endfor %}
          </select>           
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary">Save Subject </button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUnitForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form action="/teacher/addunit" method="POST">
      {% csrf_token %}
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Add Unit</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">  
      <div class="form-group">
        <input type="number" name="unit_number" class="form-control" placeholder="Which number of this unit?">
      </div>     
      <div class="form-group">
        <input type="text" name="unit_title" class="form-control" placeholder="Enter Unit title">
      </div>
      <div class="form-group">           
        <select name="subject" class="form-control">
          <option value=''>Select Subject</option>
            {% for subject in all_subjects %}
            <option value='{{subject.id}}'>{{subject.sub_name}}({{subject.level}})</option>
            {% endfor %}
        </select>           
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-primary">Save Subject </button>
    </div>
  </form>
  </div>
</div>
</div>
    </section>
  </section>
  {% endblock %}